.firstPartWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: beige;
  padding: 1rem;
  border-radius: 10px;
  height: fit-content;
}

.secondPartWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: beige;
  padding: 1rem;
  border-radius: 10px;
  height: fit-content;
}

.thirdPartWrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: beige;
  padding: 1rem;
  border-radius: 10px;
  height: fit-content;
}
